* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'DM Serif Text';
  src: url('../fonts/DMSerifText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'DM Serif Text',Arial, Helvetica, sans-serif;
  background-color: #f9f2fa;
  color: #000;
  text-align:center;
}

header {
  background-image: url('../img/imagenfondo_header.png');
  background-position: center;
  background-size: cover;
  height: 600px;
  padding: 100px;
  color: #000;
  text-align: left;
}

header h1 {
  font-size: 4rem;
  margin-bottom: 30px;
  margin-top: 70px;
}

header p {
  font-size: 1.3rem;
  padding: 0;
}

h2 {
  font-size: 2rem;
  padding: 20px;
}


h3{
  font-size: 1.5rem;
  margin: 20px;
}


p {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 0 20px;
}

.precio{
  font-family: 'DM Serif Text',Arial, Helvetica, sans-serif ;
  display: inline-block;
  border: 1px solid #000;
  padding: 10px 20px;
  margin: 20px;
  font-size: 1.3rem;
}

.titulo_lila {
  background-color: #d0b8d2;
}

.titulo_verde {
  background-color: #b8e1ca;
}

.titulo_rosa {
  background-color: #f4c9d1;
}

.tabla_productos {
  padding: 100px 0;
  max-width: 90%;
  margin: 0 auto;
  border-spacing: 20px;
  border-collapse: separate;
}

.tabla_productos td {
  padding: 30px;
  width: 500px;
  vertical-align:middle;
}


img {
  max-width: 100%;
  height: auto;
}

.productos_nuevos, .productos_lila {
  width: 300px;
  height: auto;
}

.icon {
  width: 200px;
  height: auto;
}

footer {
  padding: 0;
  background-color: #d0b8d2;
}
.tabla_footer{
  padding: 10;
  margin: 0 auto;
  border-spacing: 20px;
  border-collapse: separate;
}
.tabla_footer td {
  padding: 20px;
  width: 5000px;
  vertical-align:middle;
}
.logo_footer {
  width: 200px;
  height: auto;
}

.titulos_footer {
  list-style: none;
  font-size: 1rem;
}

.titulos_footer li {
  margin-bottom: 10px;
}

.copyright{
  background-color:#663c73;
  color: white;
  padding: 20px;
}